<!doctype html>
<html manifest="c9.appcache">
<head>
    <meta charset="utf-8">
    <title>Cloud9</title>
    <script>
        // For node-webkit
        var nRequire = window.require; 
        window.nativeRequire = function(path){
            var oldRequire = window.require;
            window.require = nRequire;
            var obj = window.require(path); 
            window.require = oldRequire;
            return obj;
        }
        window.isLocalVersion = nRequire ? true : false;
        window.require        = undefined;
    </script>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Cloud9" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> 
    <link rel="icon" sizes="192x192" href="/static/plugins/c9.ide.layout.classic/images/c9icon.png" />
</head>
<body>
    <% include ../../c9.ide.server/views/load-screen.ejs %>

    <% if (packed) { %>
        <script src="/static/<%=version%>/config/<%=configName%>.js"></script>
    <% } else { %>
        <script src="/static/mini_require.js"></script>
        <script src="/configs/require_config.js"></script>
    <% } %>
    <script src="/ide.js"></script>
</body>
</html>
